/* ---------- GENERAL ---------- */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0d0d0d;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

/* ---------- HEADER ---------- */

header{
    background:#111;
    padding:25px;
    border-bottom:2px solid #c9a227;
    text-align:center;
}

h1{
    color:#c9a227;
    font-size:40px;
}

header p{
    color:#d8d8d8;
    margin-top:10px;
}

/* ---------- MENU ---------- */

nav{
    margin-top:20px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    transition:.3s;
}

nav a:hover{
    color:#c9a227;
}

/* ---------- CONTENT ---------- */

main{
    max-width:900px;
    margin:auto;
    padding:60px 20px;
}

h2{
    color:#c9a227;
    margin-bottom:20px;
}

p{
    line-height:1.8;
}
